@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    max-width: 100%; /* Ensures the image does not exceed the width of its container */
    height: auto;    /* Maintains the aspect ratio */
    display: block;  /* Ensures the image takes the full width of its container */
    margin: 0 auto;  /* Centers the image */
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Cambiar a una fuente más moderna */
  background-color: #1a1a1a; /* Fondo oscuro */
  color: #f0f0f0; /* Texto claro para mejor contraste */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif; /* Fuente para encabezados */
  color: #ffcc00; /* Color dorado para encabezados */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
